@use 'aluno';
@use 'projetos';
@use 'modal';
@use 'galeria';

:root{
    --c-1: #ac3cfc;
    --c-2:  #6a0dad; 
    --c-3:  #580a9e;
    --c-4:  #3e0b6e; 
    --c-b:  #161417;  
    --c-w: #e6e1eb;  
}

*{
    margin: 0;
    padding: 0;
}

/* ===== FONTES ===== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@700&display=swap');

body {
    font-family: 'Inter', sans-serif; /* fonte principal para textos */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif; /* fonte elegante para títulos */
}

.upsc{
    text-transform: uppercase;
}

.c-r1 { color: #ac3cfc; } /* Lilás bem clarinho para contraste */
.c-r2 { color: #6a0dad; }  /* roxo vibrante (principal destaque) */
.c-r3 { color: #580a9e; }  /* roxo mais fechado */
.c-r4 { color: #3e0b6e; }  /* roxo profundo/escuro */
.c-a1 { color: #FFDD33; }
.c-a2 { color: #FFE066; }
.c-b { color: #161417; }  /* quase preto, mantém contraste */
.c-w { color: #e6e1eb; }  /* cinza claro/lilás para fundo ou texto */

.bg-r1 { background-color: #ac3cfc; } /* Lilás bem clarinho para contraste */
.bg-r2 { background-color: #6a0dad; }  /* roxo vibrante (principal destaque) */
.bg-r3 { background-color: #580a9e; }  /* roxo mais fechado */
.bg-r4 { background-color: #3e0b6e; }  /* roxo profundo/escuro */
.bg-a1 { color: #FFDD33; }
.bg-a2 { color: #FFE066; }
.bg-b  { background-color: #161417; }  /* quase preto, mantém contraste */
.bg-w  { background-color: #e6e1eb; }  /* cinza claro/lilás para fundo ou texto */

